<!-- <div class="container-fluid" style="  height: 100%;">
  <div class="row container-fluid border">
    <div class="col-2 border navBar-wrapper"> -->
      <!-- navbar -->
      <!-- <div class="">
        <ul>
          <li>DashBoard</li>
          <li>Employee</li>
          <li>TaskBoard</li>
          <li>Leave</li>
          <li>Event</li>
          <li>BirthDay</li>
          <li>Notification</li>
        </ul>
      </div>
    </div>
    <div class="col border">
      <div class="header-wrapper">
        <ul>
          <li>Image</li>
          <li>Ramkumar Nadar</li>
          <li>Notification Icon</li>
          <li><button>Logout</button></li>
        </ul>
      </div>

      <div class="row border">
        <div class="col">content coloumn</div>
      </div>
    </div>
  </div>

</div>
 -->




 <div class="container-fluid">
  <div class="row border">
    <div class="col-12 col-md-2 border ">
      <!-- navbar -->
      <div class="navBar-wrapper">
        <ul>
          <li><a routerLink="dashboard" href="">DashBoard</a></li>
          <li><a  routerLink="employee">Employee</a></li>
          <li><a  routerLink="taskboard">TaskBoard</a></li>
          <li><a  routerLink="leave">Leave</a></li>
          <li><a  routerLink="event">Event</a></li>
          <li><a  routerLink="birthday">BirthDay</a></li>
          <li><a  routerLink="notification">Notification</a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-10 border">
      <div class="header-wrapper">
        <ul>
          <li>Image</li>
          <li>Ramkumar Nadar</li>
          <li>Notification Icon</li>
          <li><button>Logout</button></li>
        </ul>
      </div>

      <div class="row border">
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div> <!-- Closing tag for the nested row -->
    </div>
  </div>
</div>



<!-- <app-timepass></app-timepass> -->


<!-- <app-register-user></app-register-user> -->




<!-- <div>
  <h1>User Dash Board</h1>
 <ul>

 </ul>
 
 

  <table class="table table-striped">
    <tr   >
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
    <tr *ngFor="let user of users">
      <td scope="row" >{{user.id}}</td>
     
     <td >{{user.name}}</td>
     <td >{{user.last_name}}</td>
      <td >{{user.username}}</td>
    </tr>

      
     
   
    <tr>
    
      </tr>
  </table>
</div>  -->