<div class="d-flex justify-content-end">
<button class="btn btn-primary " (click)="showform()" >Add Event</button>
</div>
<ng-template [ngIf]="iseventFormOpen">
<div class="form-wrapper">
    
<form [formGroup]="eventDetail" (submit)="registerEvent()">
<div class="form-group">
  <label for="eventName">Event Name</label>
  <input type="text" class="form-control" id="eventName" formControlName="event_name" placeholder="Enter Event Name "  >
</div>
<div class="form-group">
  <label for="eventdate">Event Date</label>
  <input type="text" class="form-control" id="eventdate" formControlName="event_date" placeholder="Enter Event date "  >
</div>
<div class="form-group">
  <label for="eventDescription">Event Description</label>
  <input type="text" class="form-control" id="eventDescription" formControlName="event_description" placeholder="Event  Description "  >
</div>
<div class="form-group">
  <label for="eventIncharge">Event Incharge</label>
  <input type="text" class="form-control" id="eventIncharge" formControlName="event_incharge" placeholder="Enter Event Name "  >
</div>
<div>

  <button class=" btn btn-primary " type="submit">Add Event </button>
</div>
</form>
</div>
</ng-template>
<div class="d-flex flex-row flex-wrap justify-content-between">
  <div *ngFor="let eventdetail of eventdetails" class="col-sm-6">
     <div class="card">
        <div class="card-body">
           <h5 class="card-title">{{eventdetail.event_name}}</h5>
           <p class="card-text">{{eventdetail.event_description}}</p>
           <a href="#" class="btn btn-primary">{{eventdetail.event_incharge}}</a>
        </div>
     </div>
  </div>
</div>











